.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

.bordered {
  border: 1px solid red;
  margin: 3px;
}
.invert {
  filter: invert(1);
}
.bg-black {
  background-color: black;
  color: white;
}
.bg-grey {
  background-color: #1f1f1f;
}
.rounded {
  border-radius: 7px;
}
.m-1 {
  margin: 5px;
}
